* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --base: #ecf0a1;
    --spacing: 10px;
    --blur: 10px;
}

main {
    /* background-image: linear-gradient(#8cf5ad, #ecf0a1); */
    background-image: linear-gradient(#0e2d4a, #0e4a48);
    text-align: center;
    padding: 40px;
    height: 100vh;
    color: white;
    font-size: 18px;
}

.image {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin: 5px auto;
}

img {
    width: 100%;
    height: 100%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

.p-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}


@media screen and (max-width: 425px) {
    .image {
        width: 350px;
    }
}

@media screen and (max-width: 375px) {
    .image {
        width: 250px;
    }
}